@page
@model AlwaysOpenModel
@{
    ViewData["Title"] = "AlwaysOpen page";
}

<div class="text-center">
    <h1 class="display-4">Convention open instance</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_b155ff30-0bbf-486c-afc5-e7a05145387b&instanceId=TECOPEN~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>This VRChat world instance of the VirtualFurence world will remain open for the duration of the convention. You can come hang out while you wait between events you can and want to attend, or just any time!</p>
    <p>This is in the VirtualFurence world in VRChat.</p>
</div>
