@page
@model EventModel
@{
    ViewData["Title"] = "an Event page";
}

<div class="text-center">
    <h1 class="display-4">Event title</h1>
    <a href="https://www.redbubble.com/people/TheEnergeticCon/shop" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now! VRC instance link</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>event details</p>
</div>
