@page
@model Event4Model
@{
    ViewData["Title"] = "Minecraft mini games Event page";
}

<div class="text-center">
    <h1 class="display-4">Minecraft mini games!</h1>
    <a href="https://realms.gg/jzXUPf9hBBQ" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <p>To join this event, you need to have minecraft, as this event is held in a minecraft realm.</p>
    <p>Welcome to Minecraft mini games! This is an attendee hosted event by Flare in the discord! Due to the limited size of minecraft realms, there may be very limited attendance. Flare will be streaming the event in the discord server in case the realm fills up.</p>
    <p>This event is held in a Minecraft realm. Have fun!</p>
</div>
