@page
@model Event14Model
@{
    ViewData["Title"] = "Light Cycle Races!";
}

<div class="text-center">
    <h1 class="display-4">Light Cycle Races!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_9157c81d-24fe-402d-8ba9-2e0ae6e15fa2&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Light Cycle Races! This is a fun event where we race around on the grid! It's the Light Cycle Races from Tron, the arcade version. As the turning is immediate, it may take some getting used to.</p>
    <p>This event is held in the Lightcycle arena world. Come try to take each other out, and try not to crash!</p>
</div>
