@page
@model Event5Model
@{
    ViewData["Title"] = "Promt Or Die!";
}

<div class="text-center">
    <h1 class="display-4">Promt Or Die!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_83f5544b-66ba-4baf-a5aa-4fecc5b6b780&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Promt Or Die! It's similar to Cards against Humanity, one person chooses a prompt, every one else chooses a response. Then that one person chooses the response they like best. Only thing is, if you aren't chosen, you die!</p>
    <p>This event is held in the Promt Or Die! world. Have fun trying not to die!</p>
</div>
