@page
@model Event25Model
@{
    ViewData["Title"] = "Minecraft Minigames!";
}

<div class="text-center">
    <h1 class="display-4">Minecraft Minigames!</h1>
    <!--<a href="https://vrchat.com/home/launch?worldId=[WORLDID]&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>-->
    <p>To join this event, you need to have minecraft, as this event is held in a minecraft server. More info on how to join will be available closer to the time of the event.</p>
    <p>Welcome to Minecraft Minigames! Staff member Chaozz hosts this event for us in a minecraft server! They will host some private minigames in the server for you to join!</p>
    <p>This event is held in a Minecraft server. Have fun!</p>
</div>
