@page
@model Event1Model
@{
    ViewData["Title"] = "Opening Event!";
}

<div class="text-center">
    <h1 class="display-4">Opening of the convention!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_b155ff30-0bbf-486c-afc5-e7a05145387b&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to the convention! This is the opening event, where Unifox will give an opening, declare the convention open, and everyone can hang out until the first event!</p>
    <p>This event is held at the VirtualFurence world in VRChat. We hope you have fun at the con this season!</p>
</div>
