@page
@model Event6Model
@{
    ViewData["Title"] = "Udon Tag Event page";
}

<div class="text-center">
    <h1 class="display-4">Udon Tag!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_7487d91a-3ef4-44c6-ad6d-9bdc7dee5efd&instanceId=ENERGETICCON~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Udon Tag! Its literally just tag, in VRChat. There's not much to it, you run around a big map, and play tag, tons of fun!</p>
    <p>This event is held in the Udon Tag world in VRChat. Have fun running around!</p>
</div>
