@page
@model Event6Model
@{
    ViewData["Title"] = "Furry Games!";
}

<div class="text-center">
    <h1 class="display-4">Furry Games!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_163d2910-eee5-43f9-955a-fd01b32b2a08&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to the Furry Games! Where we play furry specific games, learn some about each other, and chill!</p>
    <p>This event is held in the Furry Games world. Have fun!</p>
</div>
