@page
@model Event19Model
@{
    ViewData["Title"] = "Would You Press The Button?";
}

<div class="text-center">
    <h1 class="display-4">DJ stream!</h1>
    <p>This event is held in the event VC's of the Discord server, and a Twitch Stream. Head over there to join!</p>
    <p>Welcome to DJ stream! This is an attendee hosted event by Maryalee in the discord! They do Genre-Fluid: Mainstage to Hardcore! It'll be a 1 hour stream of EDM from Mainstage/Midtempo, all the way to Hard dance/Happy Hardcore!</p>
    <p>This event is held in the event VC's of the Discord and Twitch. Come have fun and enjoy the music!</p>
</div>
