@page
@model Event11Model
@{
    ViewData["Title"] = "Flight and Fight Event page";
}

<div class="text-center">
    <h1 class="display-4">Flight and Fight!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_e4908cea-023b-4749-9ad7-a898b12996e7&instanceId=ENERGETICCON~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>It's Flight and Fight! Come participate in some high-speed arial fighting! we are flying at Mach 1-2, pulling up to 30-40G's! So come on down and try to shoot us down before we do you!</p>
    <p>This event is in the Test Pilots world in VRChat. Try to shoot someone down, and not get shot down yourself!</p>
</div>
