@page
@model Event12Model
@{
    ViewData["Title"] = "Putt Putt Quest Event page";
}

<div class="text-center">
    <h1 class="display-4">Putt Putt Quest!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_70353369-ba69-46ab-a20b-f6112c82adba&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>It's time for Putt Putt Quest! Come hit a ball around with absolutely broken and janky physics! This is one of our favorite events, so we hope to see a decent attendance for this one! (that includes you!) Its a ton of fun, and some shots can do weird things!</p>
    <p>This event is in the Putt Putt Quest world in VRChat. Come try to hit a ball into a hole for an hour!</p>
</div>
