@page
@model Event29Model
@{
    ViewData["Title"] = "Disk Wars!";
}

<div class="text-center">
    <h1 class="display-4">Disk Wars!</h1>
    <a href="https://vrchat.com/home/launch?wrld_ee209ad4-fa3c-4daf-bd0d-4fb901a9a3b7&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Come join in the Disk Wars! Where we battle it out in various arenas to see who is the best! </p>
    <p>This event is held in the Xross Discs R4 world. Come fight!</p>
</div>
