@page
@model Event28Model
@{
    ViewData["Title"] = "Putt Putt Quest!";
}

<div class="text-center">
    <h1 class="display-4">Uno!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_097ec90d-f04c-46f3-81f2-fc4bf68bc2bb&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>It's Uno! Play your cards, try to get rid of them all, and don't forget to say Uno when you have one left!</p>
    <p>This event is held in the Better Uno world. Come have fun with us!</p>
</div>
