@page
@model Event30Model
@{
    ViewData["Title"] = "Closing";
}

<div class="text-center">
    <h1 class="display-4">Cards Against Humanity!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_caf792c9-1df1-4cc3-96f1-80f65bca2f3d&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Cards Against Humanity! This is a very fun, but very inappropreate game, so you better be older than 18 for this one! Its CaH in VRChat, hilarious, crude, fun!</p>
    <p>This event is in the Cards Against VRC world in VRChat. Try not to die of laughter! (or embarrassment!)</p>
</div>
