@page
@model Event5Model
@{
    ViewData["Title"] = "Udon Tycoon Fun Event page";
}

<div class="text-center">
    <h1 class="display-4">Udon Tycoon Fun!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_257ce0c9-35cc-45ce-a8fc-9d703067c58a&instanceId=ENERGETICCON~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Udon Tycoon Fun! This is a double slot event (2 whole hours!) where we get to play around in Udon Tycoon, mining trees and building roller coasters!Trust us, you dont want to miss this event, it's a ton of fun!</p>
    <p>This event is held in the Udon Tycoon world in VRChat. Have fun chopping trees and making coasters!</p>
</div>
