@page
@model Event16Model
@{
    ViewData["Title"] = "VRC Bowling!";
}

<div class="text-center">
    <h1 class="display-4">VRC Bowling!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_3d323489-e9af-4848-80bc-bc58d4311522&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Come join us for some kind of broken bowling! The chosen world for this event has ball customization, including boost that goes from none to canon!</p>
    <p>This event is in the Bowling Stadium world in VRChat. Come try to hit some pins!</p>
</div>
