@page
@model Event13Model
@{
    ViewData["Title"] = "VRC Among Us!";
}

<div class="text-center">
    <h1 class="display-4">VRC Among Us!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_dd036610-a246-4f52-bf01-9d7cea3405d7&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to VRChat Among Us! Its the game evryone knows, and some still like, right? Annyways, come join us to try and figure out who the impostor is, or kill us and take over, we have no idea!</p>
    <p>This event is held in the Among Us world in VRChat. Have fun being dead!</p>
</div>
