@page
@model Event23Model
@{
    ViewData["Title"] = "Magic Freeze Tag!";
}

<div class="text-center">
    <h1 class="display-4">Magic Freeze Tag!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_b2c574c6-9a6e-4bcc-b74e-1284070c324f&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Magic Freeze Tag! Its literally just tag, in VRChat. There's not much to it, you run around a big map, and play tag, tons of fun!</p>
    <p>This event is held in the Magic Freeze Tag world in VRChat. Have fun running around!</p>
</div>
