@page
@model Event2Model
@{
    ViewData["Title"] = "Prop Hunt!";
}

<div class="text-center">
    <h1 class="display-4">VRC Prop Hunt!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_107869ee-ee7e-4332-aed2-9d0fd5bc5f31&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Prop Hunt in VRChat! It works just like the original game mode from Gmod. Two teams, one hunter, the other prop, battle hide and seek style. The prop's job is to transform into objects and blend in with the environment, as not to be found. The hunter's job is to find hiding props, and eliminate them all before time runs out.</p>
    <p>This event is held in the VRC Prop Hunt world. Have fun proping and hunting!</p>
</div>
