@page
@model Event18Model
@{
    ViewData["Title"] = "Jackbox Games!";
}

<div class="text-center">
    <h1 class="display-4">Would You Press The Button?</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_c4d3afb1-1299-47ad-839e-54a70a138cf0&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>This is Would You Press The Button? Where you decide whether or not to press the button! When it's your turn, choose a positive, and a negative prompt. And every round everyone chooses whether or not to press it!</p>
    <p>This event is held in the Press The Button? world. Come choose whether or not you would press it!</p>
</div>
