@page
@model Event26Model
@{
    ViewData["Title"] = "VRC Minigames!";
}

<div class="text-center">
    <h1 class="display-4">VRC Minigames!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_baec7040-f9ac-4d66-9e58-3bc9d1f0256a&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to VRC Minigames! This is a fun event of fast paced minigames, challenging your response time and skills! The more the better for this one!</p>
    <p>This event is held in the VRWare Quest world. Come play!</p>
</div>
