@page
@model Event10Model
@{
    ViewData["Title"] = "Cards Against Humanity Event page";
}

<div class="text-center">
    <h1 class="display-4">Cards Against Humanity!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_caf792c9-1df1-4cc3-96f1-80f65bca2f3d&instanceId=ENERGETICCON~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Cards Against Humanity! This is a very fun, but very inappropreate game, so you better be older than 18 for this one! Its CaH in VRChat, hilarious, crude, fun!</p>
    <p>This event is in the VRC CaH world in VRChat. Try not to die of laughter!</p>
</div>
