@page
@model Event31Model
@{
    ViewData["Title"] = "Closing";
}

<div class="text-center">
    <h1 class="display-4">Closing of the Convention.</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_b155ff30-0bbf-486c-afc5-e7a05145387b&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Sadly, all good things must come to an end, and that includes this convention. It would be great if we could just continue every day, all year, but we al have lives to get back to. We hope you had a ton of fun, and didn't miss too much of the convention. It's now time to hang out for a bit, and say our goodbyes.</p>
    <p>This event is held at the VirtualFurence world in VRChat. We hope you had fun at the con this season. We are sad to see you go, and we hope for you to come next time. But for now, goodbye.</p>
</div>
