@page
@model Event7Model
@{
    ViewData["Title"] = "Uno!";
}

<div class="text-center">
    <h1 class="display-4">Minesweeper!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_48f47d66-8686-4fe9-92d5-ab4a00068b68&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Minesweeper! Come help try not to get blown up! Or do, it's part of the fun!</p>
    <p>This event is held in the Minesweeper world. Have fun blowing up!</p>
</div>