@page
@model Event22Model
@{
    ViewData["Title"] = "GeoLocator!";
}

<div class="text-center">
    <h1 class="display-4">Beat Saber Battles!</h1>
    <p>Join now with this server code: TBA!</a>
    <p>This event is in Beat Saber. You need to have a modded version of the game to play. A code will be available here during this event's scheduled time.</p>
    <p>Welcome to Beat Saber Battles! This time we are headed over to modded beat saber to battle it out and see who is the best at hitting bloq. Head over to <a href="https://discord.gg/beatsabermods">this server</a> to learn how to mod the game to join us! </p>
    <p>Recommended version: 1.29.1 for PC, 1.28.0 for quest. Recommended mods: Multiplayer Core (Required), Beat Together (Required), Noodle Extensions (Highly Recommend), Chroma (Highly Recommend), Mapping Extensions (Highly Recommend), Multiplayer Info, Server Browser, Multiplayer Extensions</p>
    <p>This event is held in modded Beat Saber. Try to hit bloq!</p>
</div>
