@page
@model Event25Model
@{
    ViewData["Title"] = "Minecraft Minigames!";
}

<div class="text-center">
    <h1 class="display-4">Tanks!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_c7423848-bb22-4cba-9341-37d8b076b6fd&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>This is a fun little game based off the Wii Play Tanks game! Use a little controller to move and aim your tank, and try to take out the others!</p>
    <p>This event is in the Tanks! world. Come battle it out!</p>
</div>
