@page
@model Event8Model
@{
    ViewData["Title"] = "Kitchen Cooks!";
}

<div class="text-center">
    <h1 class="display-4">Kitchen Cooks!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_df2776a3-8c84-45e3-bbf1-30ac8422911b&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>This is Kitchen Cooks! A fast paced game where we work together to make food and get it sent out! At least 2 or 3 players needed! There's lots to do in the kitchen, and it's hard to keep up!</p>
    <p>This event is held in the Kitchen Cooks! world. Come try and help us keep up with the orders!</p>
</div>
