@page
@model Event21Model
@{
    ViewData["Title"] = "Go Karts!";
}

<div class="text-center">
    <h1 class="display-4">GeoLocator!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_c349f354-a368-4282-969a-4b179038217b&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>This is GeoLocator! It's basically GeoGuesser in VRChat, except you can't move around. So have fun trying to guess where you've been dropped!'</p>
    <p>This event is held in the GeoLocator world. Come try and figure out where you are!</p>
</div>
