@page
@model Event21Model
@{
    ViewData["Title"] = "Go Karts!";
}

<div class="text-center">
    <h1 class="display-4">Go Karts!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_42b399f6-08c2-4155-a293-9b26bd337e4e&instanceId=TEC1~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join Now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>Welcome to Go Karts! We are gonna have fun racing around at high speed! One person starts as it, and tries to catch all the others, zombie tag style! Motion sickness warning: due to being in motion near constantly, and tumbling trough the air uncontrollably, motion sickness may happen after some time of playing.</p>
    <p>This world is held in the Go Kart Zombie Tag world. Come try not to get caught!</p>
</div>
