@page
@model Event17Model
@{
    ViewData["Title"] = "Flight and Fight!";
}

<div class="text-center">
    <h1 class="display-4">Jackbox Games!</h1>
    <p>This event is held in the event VC's and a special channel of the Discord server, as well as Jackbox Games. Head over to the discord and jackbox games to join!</p>
    <p>Welcome to Jackbox Games! This is an attendee hosted event by LOOKING FOR HOST in the discord! LOOKING FOR HOST will be your host as we play all sorts of wacky and wild games from the Jackbox Party Pack! All you need is an internet connected device. Games will be selected based on vote and number of participants - who knows what shenanigans await?</p>
    <p>This event is held in the event VC's and a special channel of the Discord, as well as Jackbox Games. We're exited to see what chaos may happen!</p>
</div>
