@page
@model Event13Model
@{
    ViewData["Title"] = "VRC Among Us!";
}

<div class="text-center">
    <h1 class="display-4">Monopoly!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_ab303eed-b24a-4a49-825d-3437e655852a&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)"><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>It's Monopoly! A fun and classic game! This world is a giant Monopoly board that we play on!</p>
    <p>This event is held in the VRChat Monopoly By Cool Drink world. Come try to to go bankrupt!</p>
</div>
