@page
@model Event3Model
@{
    ViewData["Title"] = "Settlers of Catan!";
}

<div class="text-center">
    <h1 class="display-4">Settlers of Catan!</h1>
    <a href="https://vrchat.com/home/launch?worldId=wrld_1c990401-c413-4034-8eed-a699ebb9e6b8&instanceId=TEC~group(grp_68436afe-3d3a-4455-b88c-c8fa6924e4e0)~groupAccessType(members)~region(us)" ><button class="link-button-class" id="link-button" onclick="ButtonWait()">Join now!</button></a>
    <a asp-area="" asp-page="/Events/joining"><button class="link-button-class" id="link-button" onclick="ButtonWait()">How to join an event.</button></a>
    <p>This is Catan! Gain resources, trade with others, and build! Conquer the island through trade‚ strategic placement‚ and chance!</p>
    <p>This event is held in the Settlers of Catan world. Come conquer the island!</p>
</div>
