@page
@model Event11Model
@{
    ViewData["Title"] = "open time slot";
}

<div class="text-center">
    <h1 class="display-4">Fursuit Meet & Greet!</h1>
    <p>This event is held in the event VC's of the Discord server. Head over there to join!</p>
    <p>Welcome to Fursuit Meet & Greet! This is a shorter, half hour event.</p>
    <p>Do you have a fursuit or furry costume apparel you'd like to show off? Turn on your webcam and come hang out in a group call with other costumed critters! We'll take a group photo at the end.</p>
    <p>This event is held in the event VC's of the Discord. We can't wait to see all your cute fursuits!</p>
</div>
