@page
@model HostingModel
@{
    ViewData["Title"] = "how to host page";
}

<div class="text-center">
    <h1 class="display-4">How to host an event.</h1>
    <h2>So you want to host an event? Great! We are always looking for more of you to host events!</h2>
    <p>Most of our events are games in VRChat, but we'd love to have more events outside of VRChat, and other types as well!</p>
    <p>We are open to games, panels, streams, and more! Both inside of VRChat and out!</p>
    <h2>Now, how do you host and event. Well, first register your event with us!</h2>
    <p>Start by planning out what your event is, and how it should be hosted. Will we need to provide VRC instances? A special channel for your event?</p>
    <p>Next, tell us about it! DM either the convention staff account or Unifox the details! (other staff may not respond / be able to fulfill your request.) We need: The name of your event, What time slot your event is, A description of your event for this website, How is your event hosted, What do we need to do or provide for you to have a successful event, and anything else you think we should know!</p>
    <h2>So I've sent details, now what.</h2>
    <p>Well, once we notice you have messaged us (usually a few minutes up to a couple hours), we will add your event to the schedule posted in the Discord server, and get to work adding it to this website ASAP.</p>
    <p>Once we have updated the schedule and website, we will work on anything else that needs to be done for your event, and finally ping all attendees about the change!</p>
    <h2>Congradulations! You are now a proud event host at The Energetic Convention!</h2>
    <h1>But what about this?</h1>
    <h2>What if there are no slots available?</h2>
    <p>You can still host alongside another event if outside VRChat! We also have a few events that happen on multiple days, such as VRC Prop Hunt. You can request to host an event in VRC in any duplicate slot, just not Udon Tycoon Fun, that's one of our favorites!</p>
    <h2>Can I host an event in VRC already on the schedule?</h2>
    <p>As long as that event is not marked with * or hosted by an attendee, you sure can! We are likely going to need multiple instances set up for people to attend, you can be the host of a second instance if its needed to make sure nothing bad is going on! If a second is not needed, you can come join us in the main one!</p>
</div>
