@page
@model JoiningModel
@{
    ViewData["Title"] = "how to join page";
}

<div class="text-center">
    <h1 class="display-4">How to join an event.</h1>
    <p></p>
    <p>NOTE: as we have a new VRChat group, we will likely be changing how you join an event! It will likely be something like going to the group in game and joining through there.</p>
    <p></p>
    <p>First, make sure you are logged in at <a href="https://vrchat.com/home/login" >vrchat.com/home</a>, and have the game running on the device you would like to use.</p>
    <p>Next, go to the events page, and select the current event.</p>
    <p>Click 'Join Now!', you will be brought to the VRChat world instance page.</p>
    <p>On this page, there should be an 'Invite me!' button, click that, head back onto the game, and you should recieve an invite to join the event world!</p>
    <p>Now have fun at the event!</p>
</div>
