@page
@model TECsite.Pages.Accounts.editModel
@{
    ViewData["Title"] = "Account edit page";
}
<div class="col-sm-4">
    <h3 style="color: red">@Model.rResponse</h3>
    <div class="container">
        <h3>Edit Account Details</h3>
        <form asp-page-handler="edit" method="post">
            <label for="newuname"><b>Current Username: @Model.userData.UserName</b></label>
          <input type="text" id="newuname" placeholder="Enter new Username" name="newuname"/>

          <label for="newdisuname"><b>Current Discord Username: @Model.userData.DiscordUser</b></label>
          <input type="text" id="newdisuname" placeholder="Enter New Discord Username  Ex. Joe#1234" name="newdisuname"/>

            <label for="newemail"><b>Current Email: @Model.userData.Email</b></label>
          <input type="text" id="newemail" placeholder="Enter New Email" name="newemail" />
          
          <label for="psw"><b>Password</b></label>
          <input type="password" id="psw" placeholder="Enter Password to continue" name="psw" required/>

          <input type="submit" class="link-button-class" value="Edit Account">

          <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </form>
    </div>
    
    <div class=container>
        <a asp-area="" asp-page="/Accounts/ForgotPassword">Forgot Password?</a>
    </div>
  </div>