@page
@model TECsite.Pages.Accounts.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password page";
}
<div class="col-sm-4">
    <h3 style="color: red">@Model.rResponse</h3>
    <div class="container">
        <h3>Request Password Reset</h3>
        <form asp-page-handler="sendreset" method="post">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required/>

            <label for="disuname"><b>Discord Username</b></label>
            <input type="text" placeholder="Enter Discord Username" name="disuname" required/>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required/>

            <button type="submit" class="link-button-class">Send Request</button>

        </form>
    </div>
</div>