@page
@model TECsite.Pages.Accounts.registerModel
@{
    ViewData["Title"] = "Register page";
}
<div class="col-sm-4">
    <h3 style="color: red">@Model.rResponse</h3>
    <div class="container">
        <h3>Register</h3>
        <form asp-page-handler="register"  method="post">
          <label for="uname"><b>Username</b></label>
          <input type="text" id="uname" placeholder="Enter Username" name="uname" required/>

          <label for="disuname"><b>Discord Username</b></label>
          <input type="text" id="disuname" placeholder="Ex. Joe#1234" name="disuname" required/>

          <label for="email"><b>Email</b></label>
          <input type="text" id="email" placeholder="Enter Email" name="email" required/>
          
          <label for="psw"><b>Password</b></label>
          <input type="password" id="psw" placeholder="Enter Password" name="psw" required/>

          <label for="confpsw"><b>Confirm Password</b></label>
          <input type="password" id="confpsw" placeholder="Confirm Password" name="confpsw" required/>

          <input type="submit" class="link-button-class" value="Register!">

          <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </form>
    </div>
  </div>