@page
@model TECsite.Pages.Accounts.ResetPasswordModel
@{
    ViewData["Title"] = "Forgot Password page";
}
<div class="col-sm-4">
    <h3 style="color: red">@Model.rResponse</h3>
    @if (Model.isCookie)
    {
        <div class="container">
            <h3>Reset Password</h3>
            <form asp-page-handler="sendreset" method="post">
                <label for="psw"><b>New Password</b></label>
                <input type="password" placeholder="Enter New Password" name="psw" required/>

                <label for="confpsw"><b>Confirm New Password</b></label>
                <input type="password" placeholder="Confirm New Password" name="confpsw" required/>

                <button type="submit" class="link-button-class">Reset!</button>

            </form>
        </div>
    }
    else
    {
        <h3>Password reset not requested, or time expired!</h3>
    }
</div>