@page
@model DealersModel
@{
    ViewData["Title"] = "Dealers Den page";
}

<div class="text-center">
    <h1 class="display-4">How to get a spot at the Dealers Den.</h1>
    <h2>You want a spot at our Dealers Den? Great! We would love to have you!</h2>
    <p>Just follow to instructions below and you'll be on your way to a DD spot!</p>
    <h2>Now, how do you get a Dealers Den (DD) spot. Well, first register with us!</h2>
    <p>Tell us about it! DM either the convention staff account or Unifox the details! (other staff may not respond / be able to fulfill your request.) We need the name you would like for your DD channel, and anything else you think we should know!</p>
    <h2>So I've sent details, now what.</h2>
    <p>Well, once we notice you have messaged us (usually a few minutes up to a couple hours), we will add a channel to the Dealers Den, and get it ready for you!</p>
    <p>Once we have added the channel, we will DM you that your spot is ready for you to fill up and decorate!</p>
    <h2>Congradulations! You are now a proud Dealer at The Energetic Convention!</h2>
    <h1>But what about this?</h1>
    <h2>What if I don't know what i want the channel name to be?</h2>
    <p>Just let us know that you don't yet have a name, and we will just set it as (Your name)-station!</p>
    <h2>I have a new channel name I want.</h2>
    <p>Just DM us what you want the channel name changed to, and we will get it changed! (You can also change it youself, as well as delete messages and some other special stuff!)</p>
</div>
