@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">oops!</h1>
<h2 class="text-danger">We made a wittwe fucky wucky. Something happened uwu. Dont wowwy, uwu cawn twy again, ow ewse we awe wowking own the pwobwem uwu. Pwease fowgive us daddy uwu</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

