@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As we have started up ads, it is up to google for data collection if you consent to it. </p>
<p>We as The Energetic Convention will not share or sell your data, as we have no need to.</p>
