@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We wil not be sharing any of your information, as we do not have it. This is because we dont collect data, as we do not need to. Have fun!</p>
